<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = 'waiting_room.html'>
        <input type="text" name="name01" id="name01" placeholder="input name pls ;)">
        <input type="text" name="room01" id="room01" placeholder="input room pls ;)">
        <input type="submit">
    </form>
</body>
</html>